@model Weapons.Models.Производители

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Производители</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Наименование_производителя)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Наименование_производителя)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Код_производителя">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
